html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    font-family: Roboto;
    box-sizing: border-box;
}

$main-bg-color: #cecece;
$main-border-color: rgba(0, 0, 0, 0.7);
$main-font-size: 16px;
$big-font-size: 24px;
$select-bg-color: #00766c;
$alt-bg-color: #c5e1a5;