.configurator {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;

    z-index: 1000;

    background: $main-bg-color;

    &__header {
        font-size: $big-font-size;
        background-color: $select-bg-color;
        text-align: center;
    }
}

.property {
    display: flex;
    padding: 4px 8px 4px 8px;

    select, input {
        flex: 1;
        font-size: $main-font-size;
        border: none;
        background: inherit;
        padding: 0 0 0 8px;
        box-sizing: border-box;

        border-bottom: 2px solid $main-bg-color;
        transition: border-bottom .3s ease-in-out;

        &:focus {
            outline: none;
            border-bottom: 2px solid $main-border-color;
        }
    }

    &__name {
        font-size: $main-font-size;
        border-right: 2px solid $main-border-color;
        width: 190px;
    }
}

.buttons {
    flex: 1;
    display: flex;
    justify-content: space-between;

    button {
        cursor: pointer;
        height: 32px;
        font-size: 16px;
        border: none;

        padding-left: 12px;
        padding-right: 12px;

        background-color: $alt-bg-color;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $select-bg-color;
        }
    }
}