$popup-width: 180px;

.control {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;

    overflow: hidden;

    background: $main-bg-color;
    color: $main-border-color;
    font-size: $main-font-size;
    border: 1px solid $main-border-color;

    width: $popup-width;
    border-radius: 30px;
    opacity: 0;

    transition: opacity .4s ease-in-out;
    pointer-events: none;

    &__show {
        pointer-events: all;
        opacity: 1;
    }

    div {
        display: flex;
        line-height: 24px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $main-border-color;

        background-color: inherit;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $select-bg-color;
        }
    }

    div:last-child {
        border-bottom: none;
    }
}