@import url("http://fonts.googleapis.com/css?family=Roboto");

@import "./common";
@import "./control";
@import "./configurator";


.fractal-title {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    color: #fff;
    background: #000;
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 24px;
}

.fractal-helper-message {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px;
    opacity: 0.6;
    color: $main-border-color;
    background: $main-bg-color;
    font-size: $big-font-size;
}